body {
    text-align: center;
    font-family: Arial, sans-serif;
}
canvas {
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
}

#EmojiCreate{
    justify-content: center;
    display: flex;
    align-items: center;
}



.EmojiBtn{
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 300px;
    justify-content: space-around;
    align-items: center;
    border: none;
}

.EmojiBtn button{
    height: 50px;
    width: 50px;
}

#controlBtn{
    display: flex;
    align-items: center;
    justify-content: center;
}

#leftBtn button{
    background-image: url('images/leftArrow.svg'); /* Met l'image */
    background-size: cover; /* Ajuste pour couvrir */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat;
    border: none;
}

#rightBtn button{
    background-image: url('images/rightArrow.svg'); /* Met l'image */
    background-size: cover; /* Ajuste pour couvrir */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat;
    border: none;
}